@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, #3d44c7, #000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Roboto, "Helvetica Neue";
}
